@import 'src/scss/styles.scss';
@import 'src/scss/sparcle_button.scss';

.legend {
  small {
    font-size: x-small;
  }
}

.agent-response-container {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.agent-response-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 40px $primary-color-agent;
  border-radius: 20px;
}

.query-section,
.response-section {
  padding: 10px;
}

.response-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.query-section input,
.response-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $primary-color-agent;
  border-radius: 5px;
}



.response-section textarea {
  flex-grow: 1;
  resize: none;
  height: auto;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 200px;
  z-index: 1050;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem primary-color-agent;
}

.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.toast-body {
  padding: 1rem;
}

.response-content {
  max-height: 50vh;
  overflow-y: auto;
}
