<c-row class="agent-response-container">
  <c-col>
    <c-card class="agent-response-card">
      <c-card-body class="d-flex flex-column">
        <div class="query-section">
          <h2 for="agentQuery" style="padding-bottom: 5px;">La tua query:</h2>
          <input id="agentQuery" [(ngModel)]="userMessage" name="receivedQuery" placeholder="Scrivi la tua query..." />
        </div>
        <div class="response-section">
          <h2 for="agentResponse" style="padding-bottom: 5px;">Risposta dell'agente:</h2>

          <!-- Contenitore con scrolling per la risposta dell'agente -->
          <div id="agentResponse" class="response-content">
          </div>

        </div>
        <form cForm (ngSubmit)="sendAgentResponse()" class="chatbot-input">
          <div style="display: flex; align-items: center;">
            <button class="btn" type="submit">
              <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1"
                class="sparkle">
                <path
                  d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z">
                </path>
              </svg>

              <span class="text">Invia Richiesta</span>
            </button>
            <div *ngIf="loading" class="loader" style="margin-left: 10px;"></div>
          </div>
        </form>
        <div class="form-check form-switch" style="padding-top: 20px;">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="ckeckedApi" (change)="onSwitchChange($event)">
          <label class="form-check-label" for="flexSwitchCheckDefault">Inviare la chiave</label>
        </div>
        <p style="padding-top: 10px;"> API Corrente: {{serviceAPIPath}}agent</p>
        <p style="padding-top: 2px;"> Chiave Corrente: {{serviceApiKey}}</p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<!-- Toast -->
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible()">
    <c-toast-header>
      Notifica
    </c-toast-header>
    <c-toast-body>
      <p>{{this.toastMessage}} {{serviceAPIPath}}</p>
      <c-progress thin [value]="percentage()" />
    </c-toast-body>
  </c-toast>
</c-toaster>
