<c-row class="chatbot-container">
  <c-col>
    <c-card class="chatbot-card">
      <c-card-body class="d-flex flex-column">
        <div class="chatbot-messages flex-grow-1 d-flex flex-column">
          @for (message of messages; track message) {
            <div [ngClass]="message.user ? 'user-message' : 'bot-message'">
              {{ message.text }}
            </div>
          }
          @empty {
            <div class="no-messages">Nessun messaggio trovato</div>
          }
        </div>
        <form cForm (ngSubmit)="sendMessage()" class="chatbot-input">
          <input cFormControl [(ngModel)]="userMessage" name="userMessage" placeholder="Scrivi un messaggio..." />
          <button cButton color="primary" type="submit">Invia</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
