<c-row class="chatbot-container">
  <c-col>
    <c-card class="chatbot-card">
      <c-card-body class="d-flex flex-column">
        <div class="query-section">
          <h2 for="userQuery" style="padding-bottom: 5px;">La tua query:</h2>
          <input id="userQuery" [(ngModel)]="userMessage" name="userMessage" placeholder="Scrivi la tua query..." />
        </div>
        <div class="response-section">
          <h2 for="botResponse" style="padding-bottom: 5px;">Risposta:</h2>

          <!-- Questo è il contenitore che deve scrollare -->
          <div id="botResponse" [innerHTML]="botResponse" class="response-content">
          </div>

          <div *ngIf="loading" class="loader"></div>
        </div>
        <form cForm (ngSubmit)="sendMessage()" class="chatbot-input">
          <button cButton color="primary" type="submit">Invia</button>
        </form>
        <p style="padding-top: 10px;"> API differente: {{serviceAPIPath}}</p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!-- Toast -->
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible()"
  >
    <c-toast-header>
      Notifica
    </c-toast-header>
    <c-toast-body>
      <p>{{this.toastMessage}} {{this.apiEndpoint}}</p>
      <c-progress thin [value]="percentage()" />
    </c-toast-body>
  </c-toast>
</c-toaster>
