.settings-container {
  margin: 16px;

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start; // <--- Nuova regola

    label {
      font-weight: 600;
    }

    input {
      width: 400px;
      height: 40px;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
      padding: 10px;
      border: 1px solid rgba(90, 0, 209, 0.5);
      border-radius: 5px;
    }
  }
}
