<div class="settings-container">
  <h2>Impostazioni</h2>

  <form cForm class="form-control">
    <label for="apiPath">Percorso API:</label>
    <input
      id="apiPath"
      name="apiPath"
      [(ngModel)]="apiPath"
      placeholder="Inserisci la path della tua API"
    />
    <button cButton color="primary" (click)="saveApiPath()">Salva Path</button>
  </form>
  <br />
  <form cForm class="form-control">
    <label for="apiPath">Chiave API:</label>
    <input
      id="apiKey"
      name="apiKey"
      [(ngModel)]="apiKey"
      placeholder="Inserisci la chiave della tua API"
    />
    <button cButton color="primary" (click)="saveApiKey()">Salva Chiave</button>
  </form>

  <h3 style="padding-top: 30px;">Key-Value Correnti</h3>
  <table cTable [striped]="true">
    <thead>
      <tr>
        <th>Chiave</th>
        <th>Valore</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hostname corrente per la API</td>
        <td>{{ this.sharedService.getApiPath() }}</td>
      </tr>
      <tr>
        <td>Chiave per la API</td>
        <td>{{ this.sharedService.getApiKey() }}</td>
      </tr>
    </tbody>
  </table>
</div>
